extends ../layout

block content
  div
    form(action='/professores/update/'+teacher.id,method='post')
      h1.title
        | Cadastrar Professor
      - if(error == 'duplicate')
        div.alert.alert-danger
          | Já existe alguem com esse nome e patente
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup',class="mb-3")
            label(for='role',class="form-label") Cargo
            input(id='role',type='text',value=teacher.role ,placeholder='',name='role',class="form-control")
    
      div(data-role='fieldcontain',class="mb-3")
        fieldset(data-role='controlgroup')
            label(for='name',class="form-label") Nome
            input(id='name',type='text',value=teacher.name ,placeholder='',name='name',class="form-control")

      div(data-role='fieldcontain')   
        input(type='submit',value='enviar')