extends ../layout

block content
  h1= title
  hr
  form(action="/professores/create", method="post") 
        div.row
          div.col-auto
            input(id='role',type='text',value='',placeholder='Cargo',name='role',class="form-control")
          div.col-auto
            input(id='name',type='text',value='',placeholder='Nome',name='name',class="form-control")
          div.col-auto
            input.btn.btn-secondary.btn-sm(type='submit', value='Cadastrar Professor')
            

  hr
  - if(error == 'duplicate')
      div.alert.alert-danger
        | Já existe alguem com esse nome e patente

  table(class="table table-striped")
    thead
      tr
        th
          | Patente
        th
          | Nome
        th
          | Ações
    tbody
    - each teacher in teachers
      tr
        td= teacher.role
        td= teacher.name
        td
          a(href='/professores/' + teacher.id ) Editar 
          span |
          a(href='/professores/' + teacher.id + '/delete') Excluir
  
