extends ../layout

block content
  div
    form(action='/professores/create',method='post')
      h1.title
        | Cadastrar Professor
      div(data-role='fieldcontain',class="mb-3")
        fieldset(data-role='controlgroup')
            label(for='name',class="form-label") Nome
            input(id='name',type='text',value='',placeholder='',name='name',class="form-control")
      div(data-role='fieldcontain')
        fieldset(data-role='controlgroup',class="mb-3")
            label(for='role',class="form-label") Cargo
            input(id='role',type='text',value='',placeholder='',name='role',class="form-control")
    
      div(data-role='fieldcontain')   
        input(type='submit',value='Cadastrar',data-transition='fade', data-theme='c', class="btn btn-primary mb-3")