extends layout

block content
  h1= title
  - if(error == 'busy')
    div.alert.alert-danger
      | Já existe escala para essa pessoa neste dia
  - if(error == 'class')
    div.alert.alert-danger
      | Matéria ja alocada no dia

  form(action="/escalas/create", method="post") 
    div.row
      div.col
        select.form-select(id='name', required=true, value='',name='teacher_id',class="form-control")
          - each professor in professores
            option(value= professor.id) #{professor.role} #{professor.name}
      div.col
        select.form-select(id='name',required=true, value='',name='materia_id',class="form-control")
          - each materia in materias
            option(value= materia.id) #{materia.name}
      div.col.input-group
        input.form-control(type='date',required=true, value='',name='date',class="form-control")
      div.col
        input.btn.btn-secondary.btn-sm(type='submit', value='Cadastrar Escala')
  

  table(class="table table-striped")
    thead 
      tr
        th
          | Nome
        th
          | Materia
        th 
          | Data
      tbody 
        - each escala in escalas
          tr
            td= escala.professor.role+` `+escala.professor.name
            td= escala.materia.name
            td= moment(escala.date).format('DD/MM/YYYY')
            td
              a(href='/escalas/' + escala.id + '/delete') Excluir



