extends layout
block content
  - console.log(start_date)
  h1= title
  - if(error == 'busy')
    div.alert.alert-danger
      | Já existe escala para essa pessoa neste dia
  - if(error == 'class')
    div.alert.alert-danger
      | Matéria ja alocada no dia
  - if(professores.length == 0)
    div.alert.alert-danger
      | Nenhum professor cadastrado
  - if(materias.length == 0)
    div.alert.alert-danger
      | Nenhuma matéria cadastrada
      
  hr
  - if(professores.length && materias.length)
    h4
      | Criar Escala
    form(action="/escalas/create" method="post") 
      div.row
        div.col
          select.form-select(id='name', required=true, value='' name='teacher_id' class="form-control")
            - each professor in professores
              option(value= professor.id) #{professor.role} #{professor.name}
        div.col
          select.form-select(id='name',required=true, value='' name='materia_id' class="form-control")
            - each materia in materias
              option(value= materia.id) #{materia.name}
        div.col.input-group
          input.form-control(type='date',required=true, value='' name='data' class="form-control")
        div.col
          input.btn.btn-secondary.btn-sm(type='submit' value='Cadastrar Escala')
      hr
    nav
      #nav-tab.nav.nav-tabs(role='tablist')
        button#nav-semanal-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#nav-semanal' type='button' role='tab' aria-controls='nav-semanal' aria-selected='true') Semanal
        button#nav-lista-tab.nav-link(data-bs-toggle='tab' data-bs-target='#nav-lista' type='button' role='tab' aria-controls='nav-lista' aria-selected='false') lista
    #nav-tabContent.tab-content
      #nav-semanal.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-home-tab')
        form#lista-form(action="/escalas/week/csv" target='_blank')
          .row.py-3 
            .col.input-group
              input#week_input.form-control(type='week',required=true, onchange="updateSemana()" value=moment().format("GGGG-[W]WW") name='semana' class="form-control")
            .col
              button.btn.btn-secondary.mr-2(type='button',,value="Filtrar")
                | Filtrar
              input.btn.btn-success(type='submit',value="Gerar CSV")
        hr
        #semanadiv
          include _partial/semana.jade
                    
      #nav-lista.tab-pane.fade(role='tabpanel' aria-labelledby='nav-contact-tab') 
        form#lista-form(action="/escalas/csv" target='_blank')
          .row.py-3 
            .col.input-group
              input.form-control(type='date',required=true,onchange="updateLista()", value=start_date name='start_date' class="form-control")
            .col.input-group
              input.form-control(type='date',required=true,onchange="updateLista()", value=end_date name='end_date' class="form-control")
            .col.input-group
              input.btn.btn-success(type='submit',value="Gerar CSV")
        hr
        #listadiv
          include _partial/lista.jade



