doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')
    script(src='/javascripts/main.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class="d-flex justify-content-center py-3 navbar-dark bg-dark")
      ul(class="nav nav-pills")
        li(class="nav-item")
          a(class="nav-link" href="/") Home
        li(class="nav-item")
          a(class="nav-link" href="/materias") Materias
        li(class="nav-item")
          a(class="nav-link" href="/professores") Professores
    div(class="container mt-3")         
      block content
 