
table(class="table table-striped")
  thead
    tr                                         
      th
        | Nome
      th
        | Materia
      th 
        | Data
    tbody 
      - each escala in escalas
        tr
          td= escala.professor.role+` `+escala.professor.name
          td= escala.materia.name
          td= moment(escala.date).format('DD/MM/YYYY')
          td
            a(href="/escalas/delete/"+escala.id) Excluir
