

table(class="table table-sm table-bordered table-hover")
  tbody
    - each day in week 
      tr
        td.text-center.fw-bolder= moment(day).format('DD/MM')
        - each escala in escalas
          - if(moment(escala.date).isSame(moment(day), 'day'))
            td
              | #{escala.materia.name}
              br
              | #{escala.professor.role} #{escala.professor.name}
              br
              a(href="/escalas/delete/"+escala.id) Excluir
