extends ../layout

block content
  h1= title
  hr
  - if(error == 'duplicate')
    div.alert.alert-danger
      | Já existe uma materia com esse nome
  div.row
    div.col
      form(action="/materias/create", method="post") 
        div.row
          div.col
            input(id='name',type='text',value='',placeholder='',name='name',class="form-control")
          div.col
            input.btn.btn-secondary.btn-sm(type='submit', value='Cadastrar Materia')
  hr

  table(class="table table-striped") 
    thead
      tr
        th
          | Nome
    - each materia in materias
      tr
        td= materia.name
        td
          a(href='/materias/delete/'+materia.id) Excluir
    
